
@{
    ViewBag.Title = "ProjectProfile";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@using FeedVinc.WEB.UI.Models.ViewModels.Project.Profile
@model ProjectProfileWrapperVM


@{
    Html.RenderAction("GetNavbar", "BaseUI");
}

<main>
    <section class="container">
        <div class="row">
            <!-- Sol içerik -->
            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mb30">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
                        @{
                            Html.RenderPartial("ProjectProfilePartial/_projectProfile", Model.ProjectProfile);
                        }
                    </div>

                    @{
                        Html.RenderPartial("ProjectProfilePartial/_projectShareBox", new SharePostVM { ShareTypeID = 3, ProjectID=Model.ProjectProfile.ProjectID });
                    }

                    @Html.Partial("ProjectProfilePartial/_projectNavbar")

                    @{
                        Html.RenderPartial("ProjectProfilePartial/_projectAbout", Model.ProjectProfile.About);
                    }

                    @{
                        Html.RenderPartial("ProjectProfilePartial/_projectFeed", Model.ProjectFeeds);
                    }

                    @{
                        Html.RenderPartial("ProjectProfilePartial/_projectTeam", Model.ProjectTeams);
                    }

                </div>
            </section>
            <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    @{
                        Html.RenderPartial("ProjectProfilePartial/_projectLevel", Model.ProjectProfile.ProjectLevel);
                    }

                    @Html.Partial("ProjectProfilePartial/_projectStore")

                    @{
                        Html.RenderPartial("ProjectProfilePartial/_projectPhotos", Model.ProjectPhotos);
                    }
                    @{
                        Html.RenderPartial("ProjectProfilePartial/_projectVideos", Model.ProjectVideos);
                    }
                </div>
            </section>
        </div>
    </section>
</main>

@{
    Html.RenderPartial("ProjectProfilePartial/_projectAddFeedBack", new FeedBackPostVM { ProjectID = Model.ProjectProfile.ProjectID });
}

@{
    Html.RenderPartial("ProjectProfilePartial/_projectAddLaunch", new LaunchPostVM { ProjectID = Model.ProjectProfile.ProjectID });
}


@section scripts{

    <script>


        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"

        };

        $('#lansmanForm').ajaxForm({
            beforeSubmit: function () {
                var target = document.getElementById('lansmanloading');
                $(target).show();
                var spinner = new Spinner();
                spinner.spin();
                target.appendChild(spinner.el);
            },
            success: function (response) {
                console.log(response);
                var target = document.getElementById('lansmanloading');
                $(target).hide();

                var msg = "";

                if (response.IsValid == true)
                    toastr.success(response.SuccessMessage);
                else {

                    $.each(response.Data, function (key, value) {
                        msg = msg + value.ErrorMessage + "</br>"
                    })

                    toastr.error(msg);
                }

            }
        });

        function Filter(id, target) {
            $(".p-nav li a").removeClass("active");
            $(".project-team").hide();
            $(".project-about").hide();
            $(".project-feed").hide();
            $("." + id).show();
            $(target).addClass("active");
        };



        $('#feedbackFrm').ajaxForm({
            beforeSubmit: function () {
                var target = document.getElementById('feedbackloading');
                $(target).show();
                var spinner = new Spinner();
                spinner.spin();
                target.appendChild(spinner.el);
            },
            success: function (response) {
                console.log(response);
                var target = document.getElementById('feedbackloading');
                $(target).hide();

                var msg = "";

                if (response.IsValid == true)
                    toastr.success(response.SuccessMessage);
                else {
                    $.each(response.Data, function (key, value) {
                        msg = msg + value.ErrorMessage + "</br>"
                    });

                    toastr.error(msg);
                }

            }
        });



        $('#frmStoryTellingShare').ajaxForm({
            clearForm: true,
            resetForm: true,
            beforeSubmit: function () {
                var target = document.getElementById('Shareloading');
                $(target).show();
                var spinner = new Spinner();
                spinner.spin();
                target.appendChild(spinner.el);
            },
            success: function (response) {
                console.log(response);
                var target = document.getElementById('Shareloading');
                $(target).hide();

                $("#feed").prepend(response);

                if (response.IsValid == false) {
                    toastr.error(response.ErrorMessage);
                    console.log(response);
                }
            }
        });

        

      

    </script>

}