<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
    <div class="box-white profile-nav">
        <ul class="p-nav">
            <li><a href="javascript:void()" onclick="Filter('user-feed',this)" >Haber Akışı</a></li>
            <li><a href="javascript:void()" onclick="Filter('user-about',this)" class="active">Hakkında</a></li>
            <li><a href="javascript:void()" onclick="Filter('user-project',this)">Projeler</a></li>
        </ul>
    </div>
</div>


