<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
    <div class="box-white profile-box">
        <a href="">
            <img src="assets/images/user.jpg" class="img-responsive">
        </a>
        <div class="profile-desc">
            <h1>Cihan Bir</h1>
            <div class="profile-type">
                zanaatkar
            </div>
            <div class="profile-from">
                <i class="fa fa-map-marker"></i> <span>İstanbul, Türkiye</span>
            </div>
            <div class="profile-title">
                iOS Developer & Designer
                <a href="#">http://www.cihanbir.com</a>
            </div>
            <div class="profile-buttons">
                <div class="button-group pull-right">
                    <button class="btn btn-default fs16">Düzenle</button>
                </div>
                <div class="profile-followers">
                    89 Takipçi
                </div>
            </div>
        </div>
    </div>
</div>
