
@model UserVM

<div id="user-about" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20" >
    <div class="box-white profile-about">
        <div class="p-col">
            <span>Doğum Tarihi:</span> @Model.BirthDate
        </div>
        <div class="p-col">
            <span>Şirket Bilgisi:</span> @Model.Company
        </div>
        <div class="p-col">
            <span>Telefon:</span> @Model.PhoneNumber
        </div>
        <p>@Model.About</p>
    </div>
</div>
