<nav class="main-menu">
    <div class="container">
        <ul class="main">
            <li><a href="#" class="active">Topluluğu Düzenle</a></li>
            <li><a href="#">Yöneticileri Düzenle</a></li>
        </ul>
    </div>
    <div class="col-xs-2 mobile-menu dropdown">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Menü
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#" class="active">Topluluğu Düzenle</a></li>
            <li><a href="#">Yöneticileri Düzenle</a></li>
        </ul>
    </div>
</nav>
