
@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@using FeedVinc.WEB.UI.UIServices
@model HomeVM

@{
    Html.RenderAction("GetNavbar", "BaseUI");
}

@section styles{

    <link href="~/Content/Site/assets/css/jquery.hashtags.min.css" rel="stylesheet" />

}

<main>
    <section class="container">
        <div class="row">
            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                @Html.Partial("FeedPartial/_feedMenu")
                @Html.Partial("FeedPartial/_sharebox", new SharePostVM { ShareTypeID=1, PostUserID=UserManagerService.CurrentUser.ID })

                @{
                    Html.RenderAction("GetFeedDefault", "HomeUI");
                }

            </section>
            <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">


                    @{
                        Html.RenderPartial("FeedPartial/_invested", Model.InvestedNews);
                    }
                    @{
                        Html.RenderPartial("FeedPartial/_launch", Model.Launches);
                    }
                    @{
                        Html.RenderPartial("FeedPartial/_trend", Model.Top10Trends);
                    }
                    @{
                        Html.RenderPartial("FeedPartial/_friendSuggest", Model.FriendSuggestions);
                    }
                    @{
                        Html.RenderPartial("FeedPartial/_event", Model.ClosestEvents);
                    }
                    @{
                        Html.RenderPartial("FeedPartial/_community", Model.RandomCommunities);
                    }
                </div>
            </section>
            <div id="scroll-loading"></div>
        </div>
    </section>
</main>

@Html.Partial("IndexPartial/_footer")
@Html.Partial("~/Views/Shared/Partial/Modal/_commentsModal.cshtml");




@section scripts{

    <script src="~/Content/Site/assets/js/autosize.min.js"></script>
    <script src="~/Content/Site/assets/js/jquery.hashtags.min.js"></script>
    <script src="~/Scripts/Feed/feed.js"></script>

}







