
@using FeedVinc.Common.Services
@using FeedVinc.WEB.UI.Models.ViewModels.Project.Profile
@model List<ProjectStoreVM>


@if (ViewBag.CurrentUserID == ViewBag.OwnerID)
{
    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 fl-sm-none mb30">
        <div class="box-white project-store">
            <h5>Store</h5>

            <div class="project-store-box">
                <a href="#feedback-modal">
                    <span class="project-store-icon">
                        <img src="/Content/Site/assets/images/feedback-icon.jpg" class="img-responsive">
                    </span>
                    @SiteLanguage.Take_Feedback
                </a>
            </div>

            <div class="project-store-box">
                <a href="#lansman-modal">
                    <span class="project-store-icon">
                        <img src="/Content/Site/assets/images/rocket-icon-small.jpg" class="img-responsive">
                    </span>
                    @SiteLanguage.Start_Launch
                </a>
            </div>


            @foreach (var item in Model)
            {
                <div class="project-store-box">
                    <a href="/@SlugIfyService.SlugText(item.AppName)/@item.PojectSlugify/@item.ProjectCode/@item.appID">
                        <span class="project-store-icon">
                            <img src="@item.AppLogo" class="img-responsive">
                        </span>
                        @item.AppName
                    </a>
                </div>
            }

        </div>
    </div>
}



