@using FeedVinc.WEB.UI.Models.ViewModels.Project.Profile
@model List<ProjectProfileVideoVM>

<div class="box-white project-images">
    <h5>@SiteLanguage.Videos</h5>

    @foreach (var item in Model)
    {

        <a class="projem-videos--a" href="#" data-toggle="modal" data-target="#projemVideoModal_@item.VideoID">
            <span class="projem-videos--span"></span>
            <img src="~/Content/Site/assets/images/video-install-button@2x.png" class="img-responsive">
        </a>

    }


</div>

