<html>
<head>
    <style type="text/css">
        body {
            background-color: #fefefe;
            color: black;
            font-family: Arial;
            font-size: 10pt;
        }

        th {
            text-align: left;
        }
    </style>
    <title> </title>
</head>
<body>
    <table width="100%" cellpadding="3">
        <tr>
            <td>
                <img src="cid:{LOGO_CID}" />
            </td>
        </tr>
        <tr>
            <td>
                <div style="height: 0px; border-top: 2px solid #DB9E36">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td>
                Merhaba {NAME},
                <br /><br />
                FeedVinc'e hoşgeldin.
                <br /><br />
                Aşağıdaki bağlantıya tıklayarak üyeliğini onaylayabilirsin.
                <br /><br />
                Eğer bu talebi sen gerçekleştirmediysen bu iletiyi dikkate alma.
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td width="83%">
                <center>
                    <a href="{URL}">Üyeliğini aktif etmek için bu linke tıkla</a>
                </center>
            </td>
        </tr>
    </table>
    <br /><br />
    <table width="100%" cellpadding="3">
        <tr>
            <td>
                <div style="height: 0px; border-top: 2px solid #DB9E36">&nbsp;</div>
            </td>
        </tr>
        <tr>
            <td>FeedVinc</td>
        </tr>
    </table>
</body>
</html>