



<div class="modal fade" id="projemVideoModal" tabindex="-1" role="dialog" aria-labelledby="projemVideosModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="projemVideosModalLabel">VRAY ile iç mekanda ışık ve malzeme</h4>
            </div>
            <div class="modal-body">
                <video width="100%" id="projemVideo" controls>
                    <source src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                    <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg"> Your browser does not support HTML5 video.
                </video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
