
<div class="new-message">
    <div class="user-dropdown-header">
        <a href="#" class="pull-left" onClick="userGoBack('new-message');">@SiteLanguage.Previous</a>
        <div class="user-details">
            <a href="#">Cihan Bir</a>
            <img src="~/Content/Site/assets/images/user.jpg">
        </div>
    </div>
    <div class="user-dropdown-content">
        <div class="message-row">

        </div>
        <div class="user-input-wrap border-top">
            <input type="text" name="msg-to" class="msg-to-input">
            <a href="#" onClick="sendMsg(this);">@SiteLanguage.Post_Button</a>
        </div>
    </div>
</div>
