@using FeedVinc.WEB.UI.Models.ViewModels.Filter
@model FilterVM

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar-box box-white">
        <h3>@SiteLanguage.Filters</h3>
        <div class="form-col">
            <div class="select">
                @Html.DropDownList("CategoryID",Model.ProjectCategory,new {@id="category-filter" })
            </div>
        </div>
        <div class="form-col">
            <div class="select">
               @Html.DropDownList("CountryID", Model.Country,new {@id="country-filter" })
            </div>
        </div>
        <div class="form-col">
            <div class="select">
               @Html.DropDownList("CityID", Model.City,new {@id="city-filter" })
            </div>
        </div>
    </div>
</div>
