<div id="user-dropdown-friends" class="jq-dropdown jq-dropdown-tip">
    <div class="jq-dropdown-panel">
        <div class="user-dropdown">
            <div class="user-dropdown-header">
                <h6>En Son Takip Edenler</h6>
                <a href="#takipciler-modal" class="pull-right">Tümü</a>
            </div>
            <div class="user-dropdown-content">
                <ul class="user-dropdown-list">
                    <li>
                        <div class="dd-friend">
                            <img src="~/Content/Site/assets/images/user.jpg">
                            <a href="#">Cihan Bir</a>
                            <button class="btn btn-default btn-xs">Takip Et</button>
                        </div>
                    </li>
                    <li>
                        <div class="dd-friend">
                            <img src="~/Content/Site/assets/images/user.jpg">
                            <a href="#">Cihan Bir</a>
                            <button class="btn btn-default btn-xs">Takip Et</button>
                        </div>
                    </li>
                </ul>
                <div class="user-dropdown-divider">
                    <h6>Arkadaş Önerileri</h6>
                </div>
                <ul class="user-dropdown-list">
                    <li>
                        <div class="dd-friend">
                            <img src="~/Content/Site/assets/images/user.jpg">
                            <a href="#">Cihan Bir</a>
                            <button class="btn btn-default btn-xs">Takip Et</button>
                        </div>
                    </li>
                    <li>
                        <div class="dd-friend">
                            <img src="~/Content/Site/assets/images/user.jpg">
                            <a href="#">Cihan Bir</a>
                            <button class="btn btn-default btn-xs">Takip Et</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
