
@using FeedVinc.WEB.UI.Models.DTO
@model NotificationHeaderDTO

<header>
    <div class="container">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 logo">
            <img src="~/Content/Site/assets/images/logo.png" class="img-responsive">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-8 user-menu">
            <!-- Kullanıcı menüsü -->
            <div class="pull-right">
                <div class="user-icon friend-requests" role="button" data-jq-dropdown="#user-dropdown-friends" data-horizontal-offset="-155%" data-vertical-offset="5">
                    <div id="follow-notifications" class="notify-badge follow-notifications">@Model.FollowNotificationsCount</div>
                </div>
                <div class="user-icon messages" role="button" data-jq-dropdown="#user-dropdown-messages" data-horizontal-offset="-155%" data-vertical-offset="5">
                    <div class="notify-badge">@Model.MessageNotificationCount</div>
                </div>
                <div class="user-icon notifications" role="button" data-jq-dropdown="#user-dropdown-notifications" data-horizontal-offset="-155%" data-vertical-offset="5">
                    <div id="share-notifications" class="notify-badge">@Model.ShareNotificationCount</div>
                </div>
                <div class="user-icon user-pic" role="button">
                    <img src="~/Content/Site/assets/images/user.jpg">
                </div>
                <div class="user-dd" role="button" data-jq-dropdown="#user-dropdown-settings" data-horizontal-offset="-44%" data-vertical-offset="5">
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-md-push-1 col-sm-6 col-xs-12 search-wrap">
            <input type="text" name="search" class="search-input" placeholder="Arama Yapın">
            <button type="submit" name="search-submit" class="search-btn"></button>
        </div>
    </div>
</header>

