
@using FeedVinc.WEB.UI.UIServices
@using FeedVinc.Common.Services

<div id="user-dropdown-settings" class="jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu user-settings-dd">
        <li><a href="/profile/@UserManagerService.CurrentUser.UserSlug/@UserManagerService.CurrentUser.UserCode">@SiteLanguage.Profile</a></li>
        <li><a href="#">@SiteLanguage.Account_Settings</a></li>
        <li><a href="/logout">@SiteLanguage.LogOut</a></li>
    </ul>
</div>