
@using FeedVinc.WEB.UI.Models.ViewModels.Message
@model MessageWrapperVM

<div id="user-dropdown-messages" class="jq-dropdown jq-dropdown-tip">
    <div class="jq-dropdown-panel">
        <div class="user-dropdown user-messages">

            @{
                Html.RenderPartial("Partial/MessagePartial/_message_preview", Model.LastMessages);
            }


            @{ 
                Html.RenderPartial("Partial/MessagePartial/_choose_user", Model.Contacts);
            }

            @Html.Partial("Partial/MessagePartial/_new_Message")


            @{ 
                Html.RenderPartial("Partial/MessagePartial/_read_message", Model);
            }

        </div>
    </div>
</div>
