

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@using FeedVinc.WEB.UI.Models.ViewModels.Event
@model List<EventVM>

@{
    Html.RenderAction("GetNavbar", "BaseUI");
}

<main>
    <section class="container">
        <div class="row">
            <!-- Sol içerik -->
            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mb30">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
                        <h2 class="gold inline-block">@SiteLanguage.Events</h2>
                        <button class="btn btn-default fs16 btn-m-xs pull-right" data-remodal-target="activity-modal">@SiteLanguage.Add_Event</button>
                    </div>
                    <div id="events">
                        @{
                            Html.RenderPartial("EventPartial/_eventList", Model);
                        }
                    </div>
                </div>
            </section>
            <!-- Sol içerik bitti -->
            <!-- Sağ içerik -->
            <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    <!-- Yatırım alanlar -->

                    @{
                        Html.RenderAction("GetInvestedProjects", "BaseUI");
                    }


                    @{
                        Html.RenderAction("GetLastestLaunch", "BaseUI");
                    }

                </div>
            </section>
        </div>
    </section>
</main>

<div id="loading"></div>

@{
    Html.RenderPartial("EventPartial/_addEvent", new EventPostVM());
}

@section scripts{

    <script>
        $('#frmAddEvent').ajaxForm({
            clearForm: true,
            resetForm: true,
            beforeSubmit: function () {
                var target = document.getElementById('loading');
                $(target).show();
                var spinner = new Spinner();
                console.log(spinner.opts);
                spinner.opts.top = "50%";
                spinner.opts.scale = 1;
                spinner.spin();
                target.appendChild(spinner.el);
            },
            success: function (response) {
               
                var target = document.getElementById('loading');
                $(target).hide();


                var msg = "";

                if (response.IsValid == true) {
                    toastr.success(response.SuccessMessage);
  
                        $("#events").prepend(

                             '<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">' +
                                '<div class="box-white project-box">' +
                                     '<img  style="max-width:120px; max-height:120px;" src="' + response.Data.EventProfilePhoto + '" class="img-responsive" alt="Yakın Kampüs">' +
                                        '<h2>' + response.Data.EventTitle + '</h2>' +
                                            '<p class="subtitle">' +
                                                '<span>' + response.Data.EventDate + ' , ' + response.Data.EventTime + '</span>' +
                                                    '<span>' + response.Data.Location + '</span>' +
                                            '</p>' +
                                '<div class="project-owner"><a href="/profile/' + response.Data.User.UserSlug + '/' + response.Data.User.UserCode + '">' + response.Data.User.UserName + '</a></div>' +
                                '</div>' +
                                '</div>'

                                )
                    
                }
                else if(response.IsValid==false) {
                    $.each(response.Data, function (key, value) {
                        msg = msg + value + "</br>"
                    })

                    toastr.error(msg);
                }

        }
        });
    </script>



}