<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
    <div class="box-white profile-nav">
        <ul class="p-nav">
            <li><a href="javascript:void()" onclick="Filter('community-feed',this)" class="active">@SiteLanguage.News_Feed</a></li>
            <li><a href="javascript:void()" onclick="Filter('community-about',this)">@SiteLanguage.About</a></li>
            <li><a href="javascript:void()" onclick="Filter('community-project',this)">@SiteLanguage.Projects</a></li>
            <li><a href="javascript:void()" onclick="Filter('community-member',this)">@SiteLanguage.Members</a></li>
        </ul>
    </div>
</div>
