
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using FeedVinc.DAL.ORM.Entities
@model List<ProjectCategory>
@using GridMvc.Html;

<h2>Proje Kategorileri</h2>


@section styles{
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
}

<div class="pull-right">
    <a href="/admin/AdminProjectCategory/Add" class="btn btn-success">Yeni Kayıt</a>
</div>

@Html.Grid(Model).Columns(columns =>
{
    /* Adding not mapped column, that renders body, using inline Razor html helper */
    columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(d =>
            @<a href="/admin/AdminProjectCategory/Edit/@d.ID">
                Düzenle
            </a>);

    /* Adding "OrderID" column: */
    columns.Add(o => o.CategoryName)
            .Titled("Kategorisi")
            .SetWidth(100);

    columns.Add(o => o.Lang)
            .Titled("Dili")
            .SetWidth(100);



}).WithPaging(15).Sortable().Filterable().WithMultipleFilters().SetLanguage("tr")


@section scripts{

    <script src="~/Scripts/gridmvc.js"></script>
    <script src="~/Scripts/gridmvc.lang.tr.js"></script>

}
