
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@using FeedVinc.WEB.UI.Models.ViewModels.Project.Profile
@using FeedVinc.WEB.UI.UIServices
@model UserProfileVM


@section styles{

    <link href="~/Content/Site/assets/css/jquery.hashtags.min.css" rel="stylesheet" />

}

@{
    Html.RenderAction("GetNavbar", "BaseUI");
}

<main>
    <section class="container">
        <div class="row">

            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mb30">
                <div class="row">

                    @{
                        Html.RenderPartial("ProfilePartial/_userProfile", Model.User);
                    }


                    @{
                        Html.RenderPartial("ProfilePartial/_userShareBox", new SharePostVM { ShareTypeID = 1, PostUserID = UserManagerService.CurrentUser.ID });
                    }

                    @{
                        Html.RenderPartial("ProfilePartial/_userNavbar");
                    }

                    @{
                        Html.RenderPartial("ProfilePartial/_userAbout", Model.User);
                    }

                    @{
                        Html.RenderPartial("ProfilePartial/_userFeed", Model.UserShares);
                    }

                    @{
                        Html.RenderPartial("ProfilePartial/_userProject", Model.UserProjects);
                    }

                    @{
                        Html.RenderPartial("~/Views/Shared/Partial/Modal/_commentsModal.cshtml", Model.UserShares);
                    }


                </div>
            </section>
            <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">

                    @{
                        Html.RenderAction("GetInvestedProjects", "BaseUI");
                    }

                    @{
                        Html.RenderAction("GetLastestLaunch", "BaseUI");
                    }

                </div>
            </section>

        </div>
    </section>
</main>



@Html.Partial("ProfilePartial/_footer")

@section scripts{

    <script src="~/Content/Site/assets/js/autosize.min.js"></script>
    <script src="~/Content/Site/assets/js/jquery.hashtags.min.js"></script>
    <script src="~/Scripts/Feed/feed.js"></script>

    <script>
        $(document).ready(function () {
            $("#share-textarea").hashtags();
        })
    </script>

    <script>
        function Filter(id, target) {
            $(".p-nav li a").removeClass("active");
            $(".user-project").hide();
            $(".user-about").hide();
            $(".user-feed").hide();
            $("." + id).show();
            $(target).addClass("active");
        }
    </script>



}
