
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@model UserProfileVM

@{
    Html.RenderAction("GetNavbar", "BaseUI");
}

<main>
    <section class="container">
        <div class="row">

            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mb30">
                <div class="row">

                    @{
                        Html.RenderPartial("ProfilePartial/_userProfile",Model.User);
                    }

                    @{
                        Html.RenderPartial("ProfilePartial/_userNavbar");
                    }

                    @{
                        Html.RenderPartial("ProfilePartial/_userAbout",Model.User);
                    }

                    @{
                        Html.RenderPartial("ProfilePartial/_userFeed",Model.UserShares);
                    }

                    @{ 
                        Html.RenderPartial("ProfilePartial/_userProject",Model.UserProjects);
                    }



                </div>
            </section>
            <!-- Sol içerik bitti -->
            <!-- Sağ içerik -->
            <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    <!-- Yatırım alanlar -->
                    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 fl-sm-none">
                        <div class="sidebar-box box-white">
                            <h3>Yatırım Alanlar</h3>
                            <div class="showcase-box">
                                <div class="showcase-logo">
                                    <img src="assets/images/logo-shape-logo.png" class="img-responsive">
                                </div>
                                <div class="showcase-caption">
                                    <a href="#">Yakın Kampüs</a>
                                </div>
                                <div>
                                    <button type="button" name="takip-et" class="btn btn-default btn-xs">Takip Et</button>
                                </div>
                                <div class="w100 pull-left mt10">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>

                            <div class="showcase-box">
                                <div class="showcase-logo">
                                    <img src="assets/images/logo-shape-logo.png" class="img-responsive">
                                </div>
                                <div class="showcase-caption">
                                    <a href="#">Yakın Kampüs</a>
                                </div>
                                <div>
                                    <button type="button" name="takip-et" class="btn btn-default btn-xs">Takip Et</button>
                                </div>
                                <div class="w100 pull-left mt10">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>

                            <div class="showcase-box">
                                <div class="showcase-logo">
                                    <img src="assets/images/logo-shape-logo.png" class="img-responsive">
                                </div>
                                <div class="showcase-caption">
                                    <a href="#">Yakın Kampüs</a>
                                </div>
                                <div>
                                    <button type="button" name="takip-et" class="btn btn-default btn-xs">Takip Et</button>
                                </div>
                                <div class="w100 pull-left mt10">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="text-center"><a href="#" class="show-all">Hepsine Bak</a></div>
                        </div>
                    </div>
                    <!-- Yatırım alanlar bitti -->
                    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 fl-sm-none">
                        <!-- Lansman -->
                        <div class="sidebar-box box-white">
                            <h3>Lansman</h3>
                            <div class="showcase-box">
                                <div class="showcase-logo">
                                    <img src="assets/images/logo-shape-logo.png" class="img-responsive">
                                </div>
                                <div class="showcase-caption">
                                    <a href="#">Yakın Kampüs</a>
                                </div>
                                <div>
                                    <button type="button" name="takip-et" class="btn btn-default btn-xs">Takip Et</button>
                                </div>
                                <div class="w100 pull-left mt10">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>

                            <div class="showcase-box">
                                <div class="showcase-logo">
                                    <img src="assets/images/logo-shape-logo.png" class="img-responsive">
                                </div>
                                <div class="showcase-caption">
                                    <a href="#">Yakın Kampüs</a>
                                </div>
                                <div>
                                    <button type="button" name="takip-et" class="btn btn-default btn-xs">Takip Et</button>
                                </div>
                                <div class="w100 pull-left mt10">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>

                            <div class="showcase-box">
                                <div class="showcase-logo">
                                    <img src="assets/images/logo-shape-logo.png" class="img-responsive">
                                </div>
                                <div class="showcase-caption">
                                    <a href="#">Yakın Kampüs</a>
                                </div>
                                <div>
                                    <button type="button" name="takip-et" class="btn btn-default btn-xs">Takip Et</button>
                                </div>
                                <div class="w100 pull-left mt10">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                            <div class="text-center"><a href="#" class="show-all">Hepsine Bak</a></div>
                        </div>
                        <!-- Lansman bitti -->
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>

<button type="button" name="feed-comment" class="feed-btn" data-remodal-target="comments-modal"></button>


<div class="remodal comments-modal" data-remodal-id="comments-modal" role="dialog" aria-labelledby="commentsTitle" aria-describedby="commentsDesc">
    <div class="comments-modal-wrap">
        <div class="comments-modal-content">
            <div class="comments-modal-box">
                <div class="comments-header">
                    <img src="assets/images/user.jpg" class="img-responsive">
                    <h6>Cihan Bir</h6>
                    <span>1 Saat Önce</span>
                </div>
                <div class="comment">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="comments-modal-box">
                <div class="comments-header">
                    <img src="assets/images/user.jpg" class="img-responsive">
                    <h6>Cihan Bir</h6>
                    <span>3 Saat Önce</span>
                </div>
                <div class="comment">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="comments-modal-bottom">
            <div class="comment-input">
                <input type="text" name="feed-comment">
            </div>
            <button class="comment-send-btn">Gönder</button>
        </div>
    </div>
</div>

<div id="comment-modal">
   
</div>


@Html.Partial("ProfilePartial/_footer")

@section scripts{
    
    <script>
        function Filter(id,target) {
            $(".p-nav li a").removeClass("active");
            $(".user-project").hide();
            $(".user-about").hide();
            $(".user-feed").hide();
            $("." + id).show();
            $(target).addClass("active");
        }

    </script>

    <script>

        var commentPageIndex = 0;

        function GetComment(shareid,shareType) {

            $.ajax({
                url: '/BaseUI/GetCommentsByShareID?shareID=' + shareid + "&shareType=" + shareType,
                type: 'Get',
                success: function (response) {
                    $("#comment-modal").html(response);

                    console.log(response);

                    //$("#btn-comment-modal").trigger("click");
                }
            })
        }

    </script>
    
    }
