
<button style="display:none;" id="comment-button" type="button" name="feed-comment" class="feed-btn" data-remodal-target="comments-modal">
    <span><i class="fa fa-comment"></i></span>
    <span>Yorum Yap</span>
</button>

<div class="remodal comments-modal" data-remodal-id="comments-modal" role="dialog" aria-labelledby="commentsTitle" aria-describedby="commentsDesc">
    <div id="pager">
      
    </div>
    <div class="comments-modal-wrap">
        <div class="comments-modal-content" id="comments-modal-contentID">
           
        </div>
        <div class="comments-modal-bottom">
            <div class="comment-input">
                <input id="new-feed-comment" type="text" name="feed-comment">
            </div>
           <div id="comments-modal-bottom"></div>
        </div>
    </div>
</div>





