
<!-- Takipçiler Modal -->
<div class="remodal campaign-modal-wrap" data-remodal-id="takipciler-modal" role="dialog">
    <div class="campaign-modal">
        <div class="campaign-modal-top text-center">
            <h2 class="text-center">Takipçiler</h2>
        </div>
        <div class="notifications-modal">
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16 following">Takip Ediyorsun</button>
                </div>
            </div>
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16">Takip Et</button>
                </div>
            </div>
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16">Takip Et</button>
                </div>
            </div>
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16 following">Takip Ediyorsun</button>
                </div>
            </div>
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16 following">Takip Ediyorsun</button>
                </div>
            </div>
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16 following">Takip Ediyorsun</button>
                </div>
            </div>
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16 following">Takip Ediyorsun</button>
                </div>
            </div>
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16 following">Takip Ediyorsun</button>
                </div>
            </div>
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16 following">Takip Ediyorsun</button>
                </div>
            </div>
            <div class="box-white user-follow-box mt20">
                <img src="assets/images/user.jpg" class="img-responsive">
                <div class="user-info">
                    <h4>Cihan Bir</h4>
                    <p>Front-End Web Developer</p>
                    <span>Yakın Kampüs, Socialeyes, FeedVinc</span>
                </div>
                <div class="user-follow-btn">
                    <button class="btn btn-default pull-right fs16 following">Takip Ediyorsun</button>
                </div>
            </div>
        </div>
    </div>
</div>



