
@{
    ViewBag.Title = "CommunityProfile";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@using FeedVinc.WEB.UI.Models.ViewModels.Community.Profile
@model CommunityProfileWrapperVM


@{
    Html.RenderAction("GetNavbar", "BaseUI");
}

<main>
    <section class="container">
        <div class="row">
            <!-- Sol içerik -->
            <section class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mb30">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">

                        @{
                            Html.RenderPartial("CommunityProfilePartial/_communityProfile", Model.CommunityProfile);
                        }

                    </div>

                    @Html.Partial("CommunityProfilePartial/_communityNavbar")
                        
                    @{
                        Html.RenderPartial("CommunityProfilePartial/_communityAddFeed", Model.CommunityFeeds);
                    }

                    @{
                        Html.RenderPartial("CommunityProfilePartial/_communityAbout", Model.CommunityProfile.About);
                    }

                    @{
                        Html.RenderPartial("CommunityProfilePartial/_communityProjects", Model.CommunityProjects);
                    }

                    @{
                        Html.RenderPartial("CommunityProfilePartial/_communityMember", Model.CommunityMembers);
                    }


                </div>
            </section>
            <section class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">

                    @{
                        Html.RenderAction("GetInvestedProjects", "BaseUI");
                    }

                    @{
                        Html.RenderAction("GetLastestLaunch","BaseUI");
                    }

                </div>
            </section>
        </div>
    </section>
</main>



