<div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 fl-sm-none">
    <!-- Etkinlikler -->
    <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 sidebar-box box-white">
        <h3>Etkinlikler</h3>
        <div class="showcase-box">
            <div class="showcase-logo">
                <img src="~/Content/Site/assets/images/logo-shape-logo.png" class="img-responsive">
            </div>
            <div class="showcase-caption">
                <a href="#">Yakın Kampüs</a>
            </div>
            <div class="showcase-time">
                Bugün 19:00
            </div>
        </div>
        <div class="showcase-box">
            <div class="showcase-logo">
                <img src="~/Content/Site/assets/images/logo-shape-logo.png" class="img-responsive">
            </div>
            <div class="showcase-caption">
                <a href="#">Yakın Kampüs</a>
            </div>
            <div class="showcase-time">
                Pazar 11:00
            </div>
        </div>
        <div class="showcase-box">
            <div class="showcase-logo">
                <img src="~/Content/Site/assets/images/logo-shape-logo.png" class="img-responsive">
            </div>
            <div class="showcase-caption">
                <a href="#">Yakın Kampüs</a>
            </div>
            <div class="showcase-time">
                2 Hafta Sonra
            </div>
        </div>

        <div class="text-center">
            <a href="/events" class="show-all">Hepsine Bak</a>
        </div>
    </div>
    <!-- Etkinlikler bitti -->
</div>
