
<div class="feed-tags mb20">
    <a href="#" class="home-feed-btn feed-tag active" data-feed-tag="yakin-kampus">Çevrem</a>
    <a href="#" class="home-feed-btn feed-tag" data-feed-tag="idea">IDEA</a>
    <a href="#" class="home-feed-btn feed-tag" data-feed-tag="story-telling">Story Telling</a>
    <a href="#" class="home-feed-btn feed-tag" data-feed-tag="feedback">FEEDBACK</a>
    <a href="#" class="home-feed-btn feed-tag" data-feed-tag="lansman">LANSMAN</a>
</div>

