<div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 fl-sm-none">
    <!-- Arkadaş önerileri -->
    <div class="sidebar-box box-white">
        <h3>Arkadaş Önerileri</h3>
        <div class="friend-suggestions">
            <div class="col">
                <img src="~/Content/Site/assets/images/user.jpg" class="img-responsive">
                <a href="#"><p>Erdem Turançiftçi</p></a>
                <a href="#" class="follow-user"><i class="fa fa-user-plus"></i></a>
            </div>
        </div>
        <div class="friend-suggestions">
            <div class="col">
                <img src="~/Content/Site/assets/images/user.jpg" class="img-responsive">
                <a href="#"><p>Mert Alptekin</p></a>
                <a href="#" class="follow-user"><i class="fa fa-user-plus"></i></a>
            </div>
        </div>
        <div class="friend-suggestions">
            <div class="col">
                <img src="~/Content/Site/assets/images/user.jpg" class="img-responsive">
                <a href="#"><p>Gökçe Gün</p></a>
                <a href="#" class="follow-user"><i class="fa fa-user-plus"></i></a>
            </div>
        </div>
        <div class="text-center">
            <a href="#" class="show-all">Hepsine Bak</a>
        </div>
    </div>
    <!-- Arkadaş önerileri bitti -->
</div>
