
@using FeedVinc.WEB.UI.Areas.Admin.Models
@model List<SelectionVM>

<div class="panel-body">

    @if (ViewBag.MissionTypeID == 0 || ViewBag.MissionTypeID == 1 || ViewBag.MissionTypeID==2)
    {
        foreach (var item in Model)
        {
            <div class="col-md-6">
                <input type="checkbox" name="userSelectionIDs" value="@item.ID" /><span style="width:125px;display:inline-block;">@item.Name</span>
            </div>
        }

        <input class="pull-right btn btn-primary" type="submit" name="name" value="Görevi Dağıt" />
    }
    else if (ViewBag.MissionTypeID == 3 || ViewBag.MissionTypeID == 4)
    {
        foreach (var item in Model)
        {
            <div class="col-md-6">
                <input type="radio" name="userSelectionIDs" value="@item.ID" /><span style="width:300px;display:inline-block;">@item.Name</span>
            </div>
        }

        <input class="pull-right btn btn-primary" type="submit" name="name" value="Görevi Dağıt" />
    }

</div>