
@using FeedVinc.WEB.UI.Areas.Admin.Models
@model List<SelectionVM>

<div class="panel-body">

    @if (ViewBag.MissionTypeID == 0 || ViewBag.MissionTypeID == 1 || ViewBag.MissionTypeID==2)
    {
        foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="checkbox">
                    <input type="checkbox" name="userSelectionIDs" value="@item.ID" /><label class="checkbox-inline" style="width:125px;display:inline-block;">@item.Name</label>
                </div>
            </div>
        }

        <input class="pull-right btn btn-primary" type="submit" name="name" value="Görevi Dağıt" />
    }
    else if (ViewBag.MissionTypeID == 3 || ViewBag.MissionTypeID == 4)
    {
        foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="radio">
                    <input class="radio" type="radio" name="userSelectionIDs" value="@item.ID" /><label class="radio-inline" style="width:300px;display:inline-block;">@item.Name</label>
                </div>
            </div>
        }

        <input class="pull-right btn btn-primary" type="submit" name="name" value="Görevi Dağıt" />
    }

</div>